@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));
@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-emphasis: var(--primary-emphasis);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
  --font-heading: "Newsreader", ui-serif, Georgia, "Times New Roman", serif;
  --font-body: "Inter", ui-sans-serif, system-ui, -apple-system, Segoe UI, Arial, sans-serif;
  --text-body: var(--font-size-body);
  --text-button: var(--font-size-button);
  --text-h6: var(--font-size-h6);
  --text-h5: var(--font-size-h5);
  --text-h4: var(--font-size-h4);
  --text-h3: var(--font-size-h3);
  --text-h2: var(--font-size-h2);
  --text-h1: var(--font-size-h1);
  
	--leading-body: var(--line-height-body);
	--leading-heading: var(--line-height-heading);
	--leading-button: var(--line-height-button);
}

:root {
	--radius: 0.625rem;
	--background: hsl(30 6% 97%);
	--foreground: hsl(40, 5%, 12%);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: hsl(24 92% 50%);
	--primary-foreground: hsl(30 6% 12%);
	--primary-emphasis: hsl(24 92% 46%);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: hsl(30 6% 42%);
	--muted-foreground: oklch(0.556 0 0);
	--accent: hsl(30 6% 92%);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: hsl(30 6% 55%);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--font-size-body: clamp(1rem, 0.9rem + 0.3vw, 1.125rem);
	--font-size-button: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
	--font-size-h6: clamp(1rem, 0.9rem + 0.25vw, 1.125rem);
	--font-size-h5: clamp(1.333rem, 1.2rem + 0.4vw, 1.5rem);
	--font-size-h4: clamp(1.777rem, 1.6rem + 0.5vw, 2rem);
	--font-size-h3: clamp(2.369rem, 2.1rem + 0.7vw, 2.666rem);
	--font-size-h2: clamp(3.157rem, 2.8rem + 1vw, 3.555rem);
	--font-size-h1: clamp(4.209rem, 3.8rem + 1.3vw, 4.74rem);
	--line-height-body: 1.5;
	--line-height-heading: 1.2;
	--line-height-button: 1.3;
}

.dark {
	--background: hsl(30 6% 12%);
	--foreground: hsl(40, 6%, 90%);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: hsl(24 92% 40%);
	--primary-foreground: hsl(0 0% 100%);
	--primary-emphasis: hsl(24 92% 38%);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: hsl(30 6% 65%);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: hsl(30 6% 41% / 0.2);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@utility heading1 { @apply text-h1 font-heading font-bold }
@utility heading2 { @apply text-h2 font-heading font-semibold}
@utility heading3 { @apply text-h3 font-heading font-semibold }
@utility heading4 { @apply text-h4 font-heading font-medium}
@utility heading5 { @apply text-h5 font-heading font-medium }
@utility heading6 { @apply text-h6 font-heading font-medium }
@utility bodytext { @apply text-body font-body text-foreground; }
@utility buttontext { @apply text-button font-body font-medium tracking-wide; }


@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-body;
	}
	html, body, #root {
		@apply min-h-screen;
	}

	#root {
		@apply max-w-[1440px] min-w-[320px] mx-auto relative; 
	}
}
